{{define "ul_list"}}
    <table style="margin-left: 10px" border="1" cellpadding="30">
    {{with .Files }}
        {{range .}}
            {{if eq .Type "dir"}}
                <tr style="color:blue;margin-left: 10px;"><td>{{.Name}}</td><td><button onclick="delete_file({{add .Path .Name}})">delete</button></td></tr>
                <tr style="color:blue;margin-left: 10px;"><td></td><td>{{template "ul_list" .}}</td></tr>
            {{else}}
                <tr style="margin-left: 10px"><td>{{.Name}}</td><td><button onclick="delete_file({{add .Path .Name}})">delete</button></td></tr>
            {{end}}
        {{end}}
    {{end}}
    </table>
{{end}}